.svg-lifes {
  display: inline-block;
  position: absolute;
  right: 50%;
  bottom: 2%;
  width: 45px;
  height: 45px;
  background: url("https://i.imgur.com/L1RQLau.png");
  background-size: contain;
}
.circle-lifes {
  stroke: #76c248;
  fill: none;
  stroke-width: 4;
  stroke-linecap: round;
  animation: progress 2s ease-out forwards;
}

.svg-hunger {
  display: inline-block;
  position: absolute;
  right: 54%;
  bottom: 2%;
  width: 45px;
  height: 45px;
  background: url("https://i.imgur.com/Ox0VlOr.png");
  background-size: contain;
}
.circle-hunger {
  stroke: #7ec6d9;
  fill: none;
  stroke-width: 3.5;
  stroke-linecap: round;
  animation: progress 2s ease-out forwards;
}

.svg-thirst {
  display: inline-block;
  position: absolute;
  right: 46%;
  bottom: 2%;
  width: 45px;
  height: 45px;
  background: url("https://i.imgur.com/2jDUCX3.png");
  background-size: contain;
}
.circle-thirst {
  stroke: #ffca5c;
  fill: none;
  stroke-width: 3.5;
  stroke-linecap: round;
  animation: progress 2s ease-out forwards;
}
@keyframes progress {
  0% {
    stroke-dasharray: 100 0;
  }
}
