*{
  margin: 0;
  padding: 0;
}

/* make body full page */
html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.console{
  background-color: white;
  color: green;
  font-weight: bold;
}

@font-face {
  font-family: "bankgothic";
  src: url(nui://vrp/gui/font/bankgothic.ttf);
}


.menu{
    background:none repeat 0 0 rgba(54, 66, 89, 0.81);
    background-color:rgba(54, 66, 89, 0.81);
    filter: brightness(147%);
    -webkit-box-shadow:0px 0px 20px 4px #2b384f ;
    -moz-box-shadow:0px 0px 20px 4px #2b384f ;
    box-shadow:0px 0px 20px 4px #2b384f ;
	font-family: "bankgothic", Times, monospace;
	font-size: 1.2em;
	margin-top: 0%;
	color: #ffffff;
	left: 15px;
	width: 189px;
	height: 40%;
	position: absolute;
	float: left;
	font-weight: bold;
	border: 0px solid #000000;
}

.menu_description{
  background-color:#2b384f;
  border-radius: 0px 10px 10px 0px;
  border: 0px solid #000000;
  font-family: "bankgothic", Times, monospace;
  color: #ffffff;
  position: absolute;
  font-weight: bold;
  padding: 9px;
  font-size: 1.0em;
  max-width: 500px;
}

.menu h1{
 text-align: center;
  content: url(https://i.imgur.com/4smzBDY.png);
}

.choices{
  overflow-y: scroll;
  overflow-x: hidden;
}

.choices::-webkit-scrollbar{
  display: none;
}

.choices > div{
  background-color: rgba(35, 40, 46, 0.5);
  padding: 8px;
  font-size: 0.8em;
}

.choices .selected{
  border-top:0px solid #2eb9ce;
  border-right:0px solid #2eb9ce;
  border-bottom:0px solid #2eb9ce;
  border-left:3px solid #bc4f7e;
  border-width:0px 0px 0px 3px;
  border-style:solid solid solid solid;
  border-color:#2eb9ce #2eb9ce #2eb9ce #bc4f7e;
  background-color:#2f3e57;
  color:#bc4f7e;
}

/* progress bar */
.progressbar{
  border-radius: 10px; /* закругление углов для всех, кто понимает */
  position: absolute;
}

.progressbar .inner{
  border-radius: 10px; /* закругление углов для всех, кто понимает */
  box-shadow: 0 0 7px 3px #808080;
}

.progressbar .label{
  position: absolute;
  color: white;
  border-radius: 10px; /* закругление углов для всех, кто понимает */
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px black;
}

/* dynamic class progress bar */
.dprogressbar{
  position: relative;
  padding: 0;
  border-radius: 10px; /* закругление углов для всех, кто понимает */
  margin: 0;
}

.dprogressbar .inner{
  height: 100%;
  padding: 0;
  border-radius: 10px; /* закругление углов для всех, кто понимает */
  margin: 0;
}

.dprogressbar .label{
  padding: 0;
  margin: 0;
  border-radius: 10px; /* закругление углов для всех, кто понимает */
  position: absolute;
  width: 100%;
  vertical-align: middle;
  top: 0;
  left: 0;
  color: white;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px black;
}

/* wprompt */
.wprompt{
  position: absolute;
  background:none repeat 0 0 rgba(255, 255, 255, 0.06);
  background-color:rgba(54, 66, 89, 0.81);
  color: white;
  width: 500px;
  height: 200px;
  display: flex;
  flex-direction: column;
  padding: 5px;
   border-radius: 7px 7px 7px 7px;
 -moz-border-radius: 7px 7px 7px 7px;
 -webkit-border-radius: 7px 7px 7px 7px;
  border: 0px solid #000000;
}

.wprompt h1{
  font-size: 1.2em;
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF;
  font-family: Roboto;
}

.wprompt textarea{
  outline: none !important;
  background-color: rgba(35, 40, 47, 0.39);
  font-family: 'Roboto', sans-serif;
  flex: 1;
  color: white;
  width: 100%;
  resize: none;
  border-radius: 7px 7px 7px 7px;
 -moz-border-radius: 7px 7px 7px 7px;
 -webkit-border-radius: 7px 7px 7px 7px;
  border: 0px solid #000000;
}

.wprompt textarea:focus{
  outline: none !important;
}

.wprompt .help{
  font-size: 1.2em;
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF;
  font-family: Roboto;
}

/* request manager */
.request_manager{
  border-radius: 10px; /* закругление углов для всех, кто понимает */
  position: absolute;
  top: 50px;
  right: 10px;
  text-align: right;
}

.request_manager div{
  margin-top: 10px;
  border-radius: 10px; /* закругление углов для всех, кто понимает */
}

.request_manager div > span{
  font-size: 1.2em;
  color: white;
  font-weight: bold;
  background-color: rgba(0,0,0,0.50);
  padding: 4px;
  border-radius: 10px; /* закругление углов для всех, кто понимает */
}

.request_manager .yes{
  padding-left: 15px;
  color: rgb(0,255,0);
  border-radius: 10px; /* закругление углов для всех, кто понимает */
  font-size: 1em;
}

.request_manager .no{
  color: rgb(255,0,0);
  border-radius: 10px; /* закругление углов для всех, кто понимает */
  font-size: 1em;
}

/* announce */

.announce{
  position: absolute;
  bottom: 0;
  border-radius: 10px; /* закругление углов для всех, кто понимает */
  left: 50%;
  width: 780px;
  height: 130px;
  padding: 10px;
  margin-left: -400px;
  font-weight: bold;
  font-size: 1.1em;
  text-shadow: 2px 2px black;
  color: white;
  display: none;
  opacity: 0.90;
}

/* VoIP */

#voice_indicator{
  position: absolute;
  width: 75px;
  height: 75px;
  right: 0;
  top: 35%;
  background-image: url("images/voice_active.png");
  display: none;
}

#voice_indicator.active{
  display: block;
}
